 <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="/static/bootstrap.min.css"/>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</head>
<body class=bg-success>

<div class="jumbotron" style="text-align:center; background-color:red; opacity:0.78; color:white">
<h1>E-Learning</h1>
</div>

<nav class="navbar navbar-inverse"  >
 <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" href="index"><font color="white" >E-Learning</font></a>
    </div>
<ul class="nav navbar-nav">
<li ><a href="register" target="work"> Register</a></li>
<li ><a href="login" target="work"> Login </a></li>
</ul>
</div>
</nav>
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" name="work" ></iframe>
</div>
</body>
</html>

