<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="/static/bootstrap.min.css"/>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</head>
<body class="bg-success">

<div class="jumbotron " >
<h1 >Home</h1>
<p>Welcome {{uname}} Sir</p></div></div>
<div class="container" style="width:100%; background-color:white;">

<br>
<ul class="nav nav-tabs" >
<li><a href="intsructProfile" target="work">Profile</a></li>
<li><a href="classRoom?a=instu" >Classroom</a></li>

<li><a href="changepasswordOpen?a=Teacher"  target="work">Change Password</a></li>
<li><a href="index" >Sign out</a></li>
</ul>
</div>
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" style="height:100%" name="work"></iframe>
</div>
</body>
</html>