<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="/static/bootstrap.min.css"/>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>

<body class=bg-success>
<div class="container" style="width:60%; align:center; background:white;">
<h3>Login</h3>
<br>
<ul class="nav nav-tabs" >
<li><a href="instituteLogin"   target="wor">Institute</a></li>
<li><a href="studentLogin" target="wor">Student</a></li>
<li><a href="instructorLogin" target="wor">Instructor</a></li>

</ul>
</div>
<div class="embed-responsive embed-responsive-4by3">
<iframe class="embed-responsive-item" name="wor"></iframe>
</div>
<br>

</body>
</html>