<html lang="en">                                                                  
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="/static/bootstrap.min.css"/>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/jquery-3.3.1.min.js"></script>

<script>

$(document).ready(function(){
$.get("getBatchForStudent",function(data,status){
$("#b").html(data)
});
});



function getStudent(){
batch=$("#batch").val()
$.get("getStudentList?batch="+batch,function(data,status){
$("#d").html(data)
});
}


</script>    
</head>
<body class="bg-warning" ><br><br>

<div class="panel panel-danger" style="color:black;">
<div class="panel-heading" style="background-color:black;" ><h1 align="center"><font color="white" >Find Student</font><h1></div><br>
<form method=post action="getStuProfile" class="form-horizontal" >
{% csrf_token %}


<div class="form-group">
<label class="control-label col-sm-2 text-primary"  for="batch" >Select Batch</label>
<div  class="col-sm-6">
<div id="b" name="b">
<select id='batch' name='batch'  class='form-control'  required>
<option value=disabled>No Batch to select</option>
</select>
</div>
</div>
</div>



<div id="e" name="e">
<div class="form-group">
<label class="control-label col-sm-2 text-primary" for="student" >Select Student</label>
<div  class="col-sm-6">
<div id="d" name="d">
<select id='student' name='student' class='form-control'  required>
<option value=disabled>Select a batch first</option>
</select>
</div>
</div>
</div>
</div>
<div style="text-align:center;">
<button type=submit name=submit id=submit class="btn btn-info">Get Profile</button><br><br>
</div>
</form>
</div>
</div>
</body>
</html>